.App {
  text-align: center;
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.sign{
  width: 50%;
  padding: 25px;
  background-color: rgba(191, 191, 214, 0.386);
}
.home-container{
  display: flex;
}

.forms-container {
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin-bottom: 5px;
}
.comment{
  border: #3E5151 dotted;
  width: 150%;
padding: 25px;
border-radius: 3px;
}
.post{
  border-radius: 3px;
  border: #3E5151 dotted;
  width: 150%;
  padding: 25px;

}
.table{
  margin: auto;
  width: 90% !important;
}